github "ReactiveX/RxSwift" ~> 5.0

github "sergiobaro/CarthageFrameworkTest" == 0.1.0
# binary "https://raw.githubusercontent.com/sergiobaro/CarthageFrameworkTest/master/CarthageFrameworkTest.json" == 0.1.0
# git "file:///Users/sergiobaro/src/CarthageFrameworkTest" "master"
